.settings-sidebar {
  width: 100%; 
  height: 100%;
  background: rgb(165, 144, 144);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}


.settings-sidebar h2,
.settings-sidebar h3 {
  margin-top: 0;
}

.settings-sidebar label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.settings-sidebar input[type="text"],
.settings-sidebar input[type="color"] {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.settings-sidebar button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.settings-sidebar .logout {
  background-color: #f44336;
  color: white;
}

.settings-sidebar .close {
  background-color: #aaa;
  color: white;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    background: white;
    border: none;
    cursor: pointer;
}

.close-button:hover {
    color: #f44336;
}