.message-wrapper {
    display: flex;
    margin-bottom: 4px;
    width: 100%;
}

.message-wrapper.own {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
    width: 100%;
}

.message-wrapper.theirs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.chat-background {
    background-color: var(--chat-bg);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}