.new-message-wrapper {
    position: relative;
    width: 100%;
}   



.new-message-form {
    width: 100%;
    display: flex;
    gap: 8px;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.new-message-input {
    flex: 1;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.new-message-button {
    padding: 10px 16px;
    border: none;
    background-color: var(--button-bg);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.new-message-button:hover {
    background-color: var(--button-hover-bg);
}

.image-preview-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.image-preview {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.cancel-image-button,
.send-image-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
  transition: transform 0.2s ease;
}

.cancel-image-button:hover {
  color: red;
  transform: scale(1.1);
}

.send-image-button:hover {
  color: green;
  transform: scale(1.1);
}

.emoji-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
    transition: transform 0.2s ease;
  }
  
  .emoji-button:hover {
    transform: scale(1.1);
  }